**Assignement : Web Scrapping - 4**

**Devesh Verma**

**23/June/2023 to 1/July/2023**

In [2]:
# Store required URLS

url1 = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'

url2 = 'http://www.bcci.tv/'

url3 = 'http://statisticstimes.com'

url4 = 'https://github.com/'

url5 = 'https://www.billboard.com/'

url6= 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'

url7 ='https://www.imdb.com/list/ls095964455/'

url8 = 'https://archive.ics.uci.edu/'

url9 = 'https://www.naukri.com'

In [3]:
# Import common Libraries

import pandas as pd
import selenium
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains

import time
import warnings
warnings.filterwarnings('ignore')

In [4]:
# IMPORT EXCEPTIONS

from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.common.exceptions import ElementNotInteractableException
from selenium.common.exceptions import TimeoutException
from selenium.common.exceptions import SessionNotCreatedException

In [5]:
# Connect to ChromeDriver

driver = webdriver.Chrome(r'Chromedriver.exe')

In [6]:
# Function to Load URL & open webdriver

def load_url(url):

    driver.get(url)

In [7]:
# Function to get Elements text or url using Path name or class name

def get_all_ele(is_XPATH, ele_name, is_URL):
    
    try:
        delay = 3
        if(is_XPATH):
            
            out_ele  =  driver.find_elements(By.XPATH, ele_name)
        
        else:
            out_ele = driver.find_elements(By.CLASS_NAME, ele_name)
            
            
    except:
        
        print('Exception Raised at get_all_ele')
        
        if(is_XPATH):
            WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.XPATH,ele_name)))
            out_ele  =  driver.find_elements(By.XPATH, ele_name)
        
        else:
            WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.CLASS_NAME,ele_name)))
            out_ele = driver.find_elements(By.CLASS_NAME, ele_name)
            
    out_lst = []
        
    if(is_URL):
        
        for i in out_ele: 
            out_lst.append(i.get_attribute('href'))
      
    else:
        
        for i in out_ele:
            out_lst.append(i.text)
            
    return out_lst

In [8]:
# Function to send Keys

def send_val(key_val,ele_name, is_XPATH):
    delay=3
    try:
        if(is_XPATH):
            out_ele = driver.find_element(By.XPATH, ele_name)
            out_ele.send_keys(key_val)
            
        else:
            out_ele = driver.find_element(By.CLASS_NAME, ele_name)
            out_ele.send_keys(key_val)
            
    except:
        print('Exception raised at send_val')
        
        if(is_XPATH):
            WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.XPATH,ele_name)))
            out_ele = driver.find_element(By.XPATH, ele_name)
            out_ele.send_keys(key_val)
            
        else:
            WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.CLASS_NAME,ele_name)))
            out_ele = driver.find_element(By.CLASS_NAME, ele_name)
            out_ele.send_keys(key_val)

In [9]:
# Function to Submit or click 

def sub_val(ele_name, is_XPATH):
    
    delay = 3
    
    try:
        if(is_XPATH):
            out_ele = driver.find_element(By.XPATH, ele_name)
            out_ele.click()
            
        else:
            out_ele = driver.find_element(By.CLASS_NAME, ele_name)
            out_ele.click()
        
    except:
        print('Exception Raised at sub_val')
        
        try:
            if(is_XPATH):
                WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.XPATH,ele_name)))
                out_ele = driver.find_element(By.XPATH, ele_name)
                out_ele.click()
        except:
            print('Tried again, not found')
        
            
        else:
            try:
                WebDriverWait(driver, delay).until(EC.presence_of_element_located((By.XPATH,ele_name)))
                out_ele = driver.find_element(By.CLASS_NAME, ele_name)
                out_ele.click()
            
            except:
                print('Tried again, not found')

In [10]:
# Function for hovering actions

def hover_to_ele(hover):
    # Create an instance of ActionChains
    actions = ActionChains(driver)
    
    try:
        # Find the element you want to hover over
        to_hover = driver.find_element(By.XPATH, hover)
        time.sleep(2)
        
    except:
        to_hover = driver.find_element(By.XPATH, hover)
        
        # Move the mouse to the element
    actions.move_to_element(to_hover).perform()

1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [10]:
# Load URL
load_url(url1)

top_yt_det = []
yt= []
x= []

# Store inspected elements

tab_var = '//div[@class="mw-body-content mw-content-ltr"]'

# Get elements using XPATH
try:
    top_yt_det.append((get_all_ele(1,tab_var , 0))[0])
    
except:
    print('Exception raised even after wait, check for spell errors')

# Use For loop and append required elements 
for y in top_yt_det:
    yt.append(y.split('\n'))

# Use For loop and append required elements 
for y in yt[0]:
    x.append(y.split(','))

rank = []
vid = []
art = []
views = []
up_date = []
art= []
artist = []

# Use For loop and append required elements 
for a in range(10,40,1):

    c = x[a]
    rank.append((c[0].split('.'))[0])
    vid.append((c[0].split('"'))[1]) 
    views.append((c[0].split(' '))[-3])
    up_date.append((c[0].split(' '))[-2]+' '+ (c[0].split(' '))[-1]+(c[1].split('['))[0])
    art.append(((c[0].split(']'))[1]).split(' ')[1:-3])
    
# Use For loop and append required elements    
for a in art:
    x =''
    for i in range(0,len(a),1):
        x = x+a[i]+' '
    artist.append(x)

In [11]:
# Store in dictionary & Create Dataframe

dict_wiki = {'Rank': rank, 'Video': vid, 'Artist': artist, 'Views (in Billions)': views, 'Date': up_date }

wiki_DF = pd.DataFrame(dict_wiki)

wiki_DF

,Rank,Video,Artist,Views (in Billions),Date
0,1,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,12.85,June 17 2016
1,2,Despacito,Luis Fonsi,8.16,January 12 2017
2,3,Johny Johny Yes Papa,LooLoo Kids,6.70,October 8 2016
3,4,Bath Song,Cocomelon – Nursery Rhymes,6.20,May 2 2018
4,5,Shape of You,Ed Sheeran,6.00,January 30 2017
5,6,See You Again,Wiz Khalifa,5.89,April 6 2015
6,7,Phonics Song with Two Words,ChuChu TV,5.30,March 6 2014
7,8,Wheels on the Bus,Cocomelon – Nursery Rhymes,5.24,May 24 2018
8,9,Uptown Funk,Mark Ronson,4.92,November 19 2014
9,10,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,4.89,February 27 2018
10,11,Gangnam Style,Psy,4.80,July 15 2012
11,12,Masha and the Bear – Recipe for Disaster,Get Movies,4.55,January 31 2012
12,13,Dame Tu Cosita,El Chombo,4.35,April 5 2018
13,14,Axel F,Crazy Frog,3.91,June 16 2009
14,15,Sugar,Maroon 5,3.87,January 14 2015
15,16,Roar,Katy Perry,3.80,September 5 2013
16,17,Counting Stars,OneRepublic,3.79,May 31 2013
17,18,Sorry,Justin Bieber,3.66,October 22 2015
18,19,Baa Baa Black Sheep,Cocomelon – Nursery Rhymes,3.64,June 25 2018
19,20,Thinking Out Loud,Ed Sheeran,3.60,October 7 2014
20,21,Waka Waka (This Time for Africa),Shakira,3.59,June 4 2010
21,22,Dark Horse,Katy Perry,3.52,February 20 2014
22,23,Lakdi Ki Kathi,Jingle Toons,3.48,June 14 2018
23,24,Faded,Alan Walker,3.45,December 3 2015
24,25,Perfect,Ed Sheeran,3.45,November 9 2017
25,26,Let Her Go,Passenger,3.44,July 25 2012
26,27,Girls Like You,Maroon 5,3.42,May 31 2018
27,28,Humpty the train on a fruits ride,Kiddiestv Hindi – Nursery Rhymes & Kids Songs,3.41,January 26 2018
28,29,Lean On,Major Lazer,3.38,March 22 2015
29,30,Bailando,Enrique Iglesias,3.38,April 11 2014

2. Scrape the details team India’s international fixtures from bcci.tv

Url = https://www.bcci.tv/

You need to find following details:

A) Match title (I.e. 1stODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code

In [12]:
# Go to URL & Navigate using click functions

load_url(url2)

sub_val('/html/body/nav/div[1]/div[2]/ul[1]/li[2]/a',1)

time.sleep(3)

sub_val('/html/body/div[2]/div[2]/div/div/div/div[2]/div[3]/div[2]/div/button',1)

Exception Raised at sub_val
Tried again, not found

In [14]:
# Extracting the data and storing in the list

m_data = get_all_ele(0, 'match-card-top', 0)
m_data_A = get_all_ele(0, 'match-card-bottom', 0)

m_series = []
m_date = []
m_time = []
m_title = []
m_place = []

# Filter and append required data 
for m in m_data:
    m_series.append(m.split('\n')[0])
    m_date.append(m.split('\n')[1])
    m_time.append(m.split('\n')[2])
    
for m in m_data_A:
    m_title.append((m.split(',')[0]).split('-')[0])
    m_place.append((m.split(',')[0]).split('-')[1] + (m.split(',')[1]).split('\n')[0])

# Store in dictionary & create DataFrame

dict_bcci = {'Match': m_title, 'Series': m_series, 'Place': m_place, 'Date': m_date, 'Time': m_time}

bcci_DF = pd.DataFrame(dict_bcci)

bcci_DF

,Match,Series,Place,Date,Time
0,1st T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,Shere Bangla National Stadium Mirpur,9 JUL 2023,1:30 PM IST
1,2nd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,Shere Bangla National Stadium Mirpur,11 JUL 2023,1:30 PM IST
2,1st Test,INDIA TOUR OF WEST INDIES 2023,Windsor Park Dominica,12 JUL 2023,7:30 PM IST
3,3rd T20I,INDIA WOMEN TOUR OF BANGLADESH 2023,Shere Bangla National Stadium Mirpur,13 JUL 2023,1:30 PM IST
4,1st ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,Shere Bangla National Stadium Mirpur,16 JUL 2023,9:00 AM IST
5,2nd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,Shere Bangla National Stadium Mirpur,19 JUL 2023,9:00 AM IST
6,2nd Test,INDIA TOUR OF WEST INDIES 2023,Queen's Park Oval Trinidad,20 JUL 2023,7:30 PM IST
7,3rd ODI,INDIA WOMEN TOUR OF BANGLADESH 2023,Shere Bangla National Stadium Mirpur,22 JUL 2023,9:00 AM IST

3. Scrape the details of State-wise GDP ofIndia fromstatisticstime.com

Url = http://statisticstimes.com/

You have to find following details:

A) Rank

B) State

C) GSDP(18-19)- at current prices

D) GSDP(19-20)- at current prices

E) Share(18-19)

F) GDP($ billion)

Note: - From statisticstimes home page you have to reach to economy page through code.

In [17]:
# Go to URL & Navigate using hover & click functions

load_url(url3)

time.sleep(1)
hover = '/html/body/div[2]/div[1]/div[2]/div[2]/button'
hover_to_ele(hover)

time.sleep(1)
sub_val('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]',1)
time.sleep(3)
sub_val('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a',1)

In [18]:
# Storing & Extracting the elements

gdp_lst = []
gdp_lst.append(get_all_ele(1, '//div[@class="dataTables_wrapper"]',0))

x = []

for rows in gdp_lst[0]: 
    x.append(rows.split('\n'))

# Removing Heading Data
gdp_all = x[0][3:-1]

rank = []
state = []
gs18_19_cp = []
gs19_20_cp = []
share = []
gp_bn= []

# Run for loop and extract data in list
for st in gdp_all:
    
    y = st.split(' ')
    z = ''
    
    rank.append(y[0])
    gs19_20_cp.append(y[-6])
    gs18_19_cp.append(y[-5])
    share.append(y[-4])
    gp_bn.append(y[-3])
    
    for k in range(0, len(y)-7):
        z = z + y[k+1]
        
    state.append(z)

In [19]:
# Creating Dictionary & Storing in DataFrame

dict_gdp = {'Rank': rank, 'State': state, 'GSDP(18-19 at CP)': gs18_19_cp,'GSDP(19-20 at CP)': gs19_20_cp, 'Share': share, 'GDP($ Bn)':gp_bn}

gdp_DF = pd.DataFrame(dict_gdp)

gdp_DF

,Rank,State,GSDP(18-19 at CP),GSDP(19-20 at CP),Share,GDP($ Bn)
0,1,Maharashtra,"2,632,792",-,13.94%,399.921
1,2,TamilNadu,"1,630,208","1,845,853",8.63%,247.629
2,3,UttarPradesh,"1,584,764","1,687,818",8.39%,240.726
3,4,Gujarat,"1,502,899",-,7.96%,228.290
4,5,Karnataka,"1,493,127","1,631,977",7.91%,226.806
5,6,WestBengal,"1,089,898","1,253,832",5.77%,165.556
6,7,Rajasthan,"942,586","1,020,989",4.99%,143.179
7,8,AndhraPradesh,"862,957","972,782",4.57%,131.083
8,9,Telangana,"861,031","969,604",4.56%,130.791
9,10,MadhyaPradesh,"809,592","906,672",4.29%,122.977
10,11,Kerala,"781,653",-,4.14%,118.733
11,12,Delhi,"774,870","856,112",4.10%,117.703
12,13,Haryana,"734,163","831,610",3.89%,111.519
13,14,Bihar,"530,363","611,804",2.81%,80.562
14,15,Punjab,"526,376","574,760",2.79%,79.957
15,16,Odisha,"487,805","521,275",2.58%,74.098
16,17,Assam,"315,881",-,1.67%,47.982
17,18,Chhattisgarh,"304,063","329,180",1.61%,46.187
18,19,Jharkhand,"297,204","328,598",1.57%,45.145
19,20,Uttarakhand,"245,895",-,1.30%,37.351
20,21,Jammu&Kashmir,"155,956",-,0.83%,23.690
21,22,HimachalPradesh,"153,845","165,472",0.81%,23.369
22,23,Goa,"73,170","80,449",0.39%,11.115
23,24,Tripura,"49,845","55,984",0.26%,7.571
24,25,Chandigarh,"42,114",-,0.22%,6.397
25,26,Puducherry,"34,433","38,253",0.18%,5.230
26,27,Meghalaya,"33,481","36,572",0.18%,5.086
27,28,Sikkim,"28,723","32,496",0.15%,4.363
28,29,Manipur,"27,870","31,790",0.15%,4.233
29,30,Nagaland,"27,283",-,0.14%,4.144
30,31,ArunachalPradesh,"24,603",-,0.13%,3.737
31,32,Mizoram,"22,287","26,503",0.12%,3.385
32,33,Andaman&NicobarIslands,-,-,-,-

4. Scrape the details of trending repositories on Github.com

Url = https://github.com/

You have to find the following details:

A) Repository title

B) Repository description

C) Contributors count

D) Language used

In [20]:
# Go to URL & Navigate using hover & click functions

load_url(url4)

time.sleep(1)
hover = '/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/button'
hover_to_ele(hover)

time.sleep(2)
sub_val('/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a',1)

In [21]:
# Create Empty list to store data

grep_ttl = []
grep_cct = []
grepA_des = []
grepA_lng = []

# Extract and filter out elements

grep =  get_all_ele(1, '//span[@class="text-normal"]',0)

for title in grep:
    grep_ttl.append(title.replace(' /', ''))

# Extract and filter out elements
grep2 =  get_all_ele(1, '//span[@class="d-inline-block ml-0 mr-3"]',0)
grep3 =  get_all_ele(1, '//a[@class="Link--muted d-inline-block mr-3"]',0)

i = 0

for cct in grep3: 
    i = i+1
    
    if(i%2 ==0):
        grep_cct.append(cct)
        
grepA= get_all_ele(1,'//article[@class="Box-row"]',0)

for des in grepA:
    
    z = des.split('\n')
    
    if(len(z) == 6):
        grepA_des.append(z[3])
        grepA_lng.append(z[4].split(' ')[0])
        
    elif(len(z) == 4):
        grepA_des.append('--')
        grepA_lng.append('--')
    
    else:
        grepA_des.append(z[2])
        grepA_lng.append(z[3].split(' ')[0])

In [22]:
# Create dictionary & store in DataFrame
dict_GHUB = {'Repository': grep_ttl, 'Description': grepA_des, 'Count': grep_cct, 'Language': grepA_lng}

ghub_DF = pd.DataFrame(dict_GHUB)

ghub_DF

,Repository,Description,Count,Language
0,PowerShell,PowerShell for every system!,"7,162",C#
1,WeMakeDevs,--,365,--
2,toeverything,There can be more than Notion and Miro. AFFiNE...,998,TypeScript
3,facebook,An open-source C++ library developed and used ...,"5,345",C++
4,ChaoningZhang,This is the official code for Faster Segment A...,701,Jupyter
5,imgly,Remove backgrounds from images directly in the...,75,TypeScript
6,practical-tutorials,Curated list of project-based tutorials,"15,179","108,551"
7,wgwang,中国大模型,111,736
8,OpenDriveLab,All you need for End-to-end Autonomous Driving,22,336
9,ripienaar,"A list of SaaS, PaaS and IaaS offerings that h...","7,759",HTML
10,homanp,"🥷 Superagent - Build, deploy, and manage LLM-p...",187,JavaScript
11,hiyouga,Fine-tuning ChatGLM-6B with PEFT | 基于 PEFT 的高效...,236,Python
12,EbookFoundation,📚 Freely available programming books,"55,972","285,232"
13,teslamotors,--,18,--
14,labmlai,🧑‍🏫 59 Implementations/tutorials of deep learn...,"2,834",Jupyter
15,huggingface,🤗 Transformers: State-of-the-art Machine Learn...,"21,204",Python
16,StanGirard,🧠 Dump all your files into your private Genera...,"1,144",TypeScript
17,dotnet-architecture,Cross-platform .NET sample microservices and c...,"10,147",C#
18,rust-lang,Create book from markdown files. Like Gitbook ...,"1,396",Rust
19,LiLittleCat,🆓免费的 ChatGPT 镜像网站列表，持续更新。List of free ChatGPT ...,539,Python
20,geerlingguy,Ansible for DevOps examples.,"2,997",Python
21,phodal,《构筑大语言模型应用：应用开发与架构设计》一本关于 LLM 在真实世界应用的开源电子书，介绍...,42,Rust
22,PromtEngineer,Chat with your documents on your local device ...,795,Python
23,Visualize-ML,Book_4_《矩阵力量》 | 鸢尾花书：从加减乘除到机器学习；上架！,524,Python
24,jetpack-io,"Type-safe, K-sortable, globally unique identif...",18,Go

5. Scrape the details of top 100 songs on billiboard.com

Url = https:/www.billboard.com/

You have to find the following details:

A) Song name

B) Artist name

C) Last week rank

D) Peak rank

E) Weeks on board

Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [23]:
# Go to URL & Navigate using hover & click functions

load_url(url5)
time.sleep(1)
sub_val('/html/body/div[3]/header/div/div[2]/div/div/div[2]/div[2]/div/div/nav/ul/li[1]/a',1)

time.sleep(3)
sub_val('/html/body/div[3]/main/div[2]/div[3]/div/div/div[2]/div/div[1]/a/div/div[1]/div/img',1)

Exception Raised at sub_val
Tried again, not found

In [24]:
# Extract the song data

bb_song100 = get_all_ele(1,'//div[@class="o-chart-results-list-row-container"]',0)

# Create Empty list for storing data
bb_rank = []
bb_song = []
bb_sger = []
bb_lweek  = []
bb_peak = []
bb_week = []

# Extracting the data 
for song in bb_song100:
    y = song.split('\n')
    
    bb_rank.append(y[-6])
    bb_song.append(y[-5])
    bb_sger.append(y[-4])
    bb_lweek.append(y[-3])
    bb_peak.append(y[-2])
    bb_week.append(y[-1])

#Creating Dictionary & Storing in DataFrame'

dict_bb = {'Rank': bb_rank, 'Song': bb_song, 'Artist': bb_sger, 'LastWeekRank': bb_lweek, 'PeakRank': bb_peak, 'WeeksOnboard':bb_week}

bb_DF = pd.DataFrame(dict_bb)

bb_DF

,Rank,Song,Artist,LastWeekRank,PeakRank,WeeksOnboard
0,1,Last Night,Morgan Wallen,1,1,21
1,2,Fast Car,Luke Combs,3,2,13
2,3,Calm Down,Rema & Selena Gomez,4,3,42
3,4,Flowers,Miley Cyrus,2,1,23
4,5,All My Life,Lil Durk Featuring J. Cole,5,2,6
...,...,...,...,...,...,...
95,RE- ENTRY,"Angel, Pt. 1","Kodak Black, NLE Choppa, Jimin, JVKE & Muni Long",-,65,2
96,NEW,Girl In Mine,Parmalee,-,97,1
97,98,Moonlight,Kali Uchis,90,80,11
98,NEW,Classy 101,Feid x Young Miko,-,99,1
99,NEW,Bluffin,Gucci Mane & Lil Baby,-,100,1

6. Scrape the details of Highest sellingnovels.

Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare

You have to find the following details:

A) Book name

B) Author name

C) Volumes sold

D) Publisher

E) Genre

In [25]:
# Load URL, extract & store the elements
load_url(url6)

books = get_all_ele(1,'//td[@class="left"]',0 )
b_genre = get_all_ele(1,'//td[@class="last left"]',0 )

# Create empty list
b_title = []
b_author = []
b_sales = []
b_pub  = []

# Extract an dappend in the list
for bb in range(0,len(books)):
    
    if(bb%5 ==1):
        b_title.append(books[bb])
        
    elif(bb%5 ==2):
        b_author.append(books[bb])
        
    elif(bb%5 ==3):
        b_sales.append(books[bb])
        
    elif(bb%5 ==4):
        b_pub.append(books[bb])

In [26]:
# Store in dictionary & create DataFrame

book_dict  ={'Title': b_title, 'Author': b_author, 'Vol. Sold': b_sales, 'Publisher': b_pub, 'Genre': b_genre}

book_DF = pd.DataFrame(book_dict)

book_DF

,Title,Author,Vol. Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

7. Scrape the details most watched tv series of all time from imdb.com

Url = https://www.imdb.com/list/ls095964455/

You have to find the following details:

A) Name

B) Year span

C) Genre

D) Run time

E) Ratings

F) Votes

In [27]:
# Load URL
load_url(url7)

# Create Empty List to store the elements
t_name = []
t_span = []
t_genr = []
t_rtme = []
t_rate = []
t_vote = []

# Extract the element data
t_genr = get_all_ele(1, '//span[@class="genre"]',0)
t_rtme = get_all_ele(1, '//span[@class="runtime"]',0)
t_name_x = get_all_ele(1, '//h3[@class="lister-item-header"]',0)

# Extract relevant data
for t in t_name_x:
    
    t_name.append(((t.split('(')[0]).split('.'))[1])
    t_span.append((t.split('(')[1].replace(')','')))

# Extract relevant data  
t_rate_x = get_all_ele(1, '//span[@class="ipl-rating-star__rating"]',0)

# Extract relevant data
for rt in range(0,len(t_rate_x)):
    if(rt%23 == 0):
        t_rate.append(t_rate_x[rt])

# Extract relevant data
t_vote_x = get_all_ele(1, '//p[@class="text-muted text-small"]',0)

i = 0
for vt in t_vote_x:
    z = vt.split(':')
    i = i+1
    
    if(i%3 ==0):
        t_vote.append(z[-1])

In [28]:
# Store in Dictionary & Create DataFrame

show_dict = {'Name': t_name, 'Span': t_span, 'Genre': t_genr, 'Runtime': t_rtme,'Rating': t_rate, 'Votes': t_vote }

show_DF = pd.DataFrame(show_dict)

show_DF

,Name,Span,Genre,Runtime,Rating,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"2,174,806"
1,Stranger Things,2016–2024,"Drama, Fantasy, Horror",51 min,8.7,"1,252,501"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.1,"1,032,998"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"303,726"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"262,863"
...,...,...,...,...,...,...
95,Reign,2013–2017,Drama,42 min,7.4,"51,989"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"64,015"
97,Criminal Minds,2005–,"Crime, Drama, Mystery",42 min,8.1,"208,627"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7,"43,416"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"260,436"

8. Details of Datasetsfrom UCI machine learning repositories. 

Url = https://archive.ics.uci.edu/

You have to find the following details:

A) Dataset name

B) Data type

C) Task

D) Attribute type

E) No of instances

F) No of attribute

G) Year

Note: - from the home page you have to go to the Show All Dataset page through code.

In [12]:
# Load URL
load_url(url8)

# Click the reqd element to navigate to required page
try:
    sub_val("/html/body/div/div[1]/div[1]/div/div[2]/button",1)
    
except:
    print('Accept Cookies not occured')

sub_val('/html/body/div/div[1]/div[1]/header/nav/ul/li[1]/a',1)
time.sleep(2)

# Create empty list for storing elements
d_ext_inf = []
d_dataset = []

# Number of Datasets in page
max_val = int(int(get_all_ele(1,'/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/p/span[3]',0)[0])/25)+1

# Set number of elements in list & click next button

sub_val('select-primary select select-sm rounded-full',0)
time.sleep(1)
sub_val('/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/label/select/option[5]',1)

try:
    sub_val('/html/body/div/div[1]/div[1]/main/div/div[2]/div[1]/div/label[2]/div[2]',1)
    time.sleep(5)
        
except:
    print('Element already clicked or not available')

# store elements from entire page

for i in range(0,max_val+1):
    try:
        d_dataset.append((get_all_ele(0,"truncate",0))[7:])
        #d_ext_inf.append((get_all_ele(1, '//div[@class="grid grid-cols-8 overflow-x-auto"]', 0)))
        d_ext_inf.append((get_all_ele(1, '//tbody[@class="border"]', 0)))
        
        
    except:
        print('Last page reached')
    
    try:
        time.sleep(1)
        sub_val('/html/body/div/div[1]/div[1]/main/div/div[2]/div[3]/div/button[2]',1)
        
    except: 
        print('Next button Inactive, possibly end of datalist')
        break

Exception Raised at sub_val
Tried again, not found
Exception Raised at sub_val
Tried again, not found
Last page reached
Exception Raised at sub_val
Tried again, not found
Exception Raised at sub_val
Tried again, not found

In [22]:
# Create Empty list to store required data filetered extracted 
d_name = []
d_type = []
d_task = []
d_attn = []
d_inst = []

for d in d_dataset:
    for ds in range(0,len(d)):
        if(ds%10 ==0):
            d_name.append((d[ds]))
                          
        elif(ds%10 == 2):
            d_task.append(d[ds])
        
        elif(ds%10 == 3):
            d_type.append(d[ds])
        
        elif(ds%10 == 4):
            d_inst.append((d[ds].replace(' Instances', '')))
        
        elif(ds%10 == 5):
            d_attn.append((d[ds].replace(' Attributes', '')))
            
d_year = []
d_attr = []

for d_ex in d_ext_inf:
    for d in d_ex:
        
        if(len(d)>0):
            x = ((d.split('\n'))[-1])
            d_year.append(x.split(' ')[-2])
            
        else:
            d_year.append('-')
          
        y = d.split(' ')
        z =''
        for i in range(0,len(y)-3):
            z = z+y[i+1]
        d_attr.append(z.replace('Science',''))  



    
d_attr
len(d_attr)

# Store in Dictionary & create DataFrame

dict_UCI = {'Dataset': d_name, 'Type': d_type, 'Task': d_task, 'Tot Attr.': d_attn, 'Inst': d_inst, 'Attr': d_attr, 'Year': d_year}

dict_DF = pd.DataFrame(dict_UCI)

dict_DF

,Dataset,Type,Task,Tot Attr.,Inst,Attr,Year
0,Iris,Multivariate,Classification,4,150,Real,7/1/1988
1,Heart Disease,Multivariate,Classification,13,303,"Categorical,Integer,Real",7/1/1988
2,Adult,Multivariate,Classification,14,48.84K,"Categorical,Integer",5/1/1996
3,Dry Bean Dataset,Multivariate,Classification,17,13.61K,"Integer,Real",9/14/2020
4,Diabetes,,,20,,"Categorical,Integer",N/A
...,...,...,...,...,...,...,...
618,PMU-UD,Univariate,Classification,9,5.18K,,8/5/2018
619,chestnut â€“ LARVIC,null,"Classification, Clustering",3,1.45K,,5/30/2017
620,EBL Domain Theories,,,,,N/A,N/A
621,Moral Reasoner,,,,202,N/A,6/1/1994
622,DGP2 - The Second Data Generation Program,,,,,Real,N/A

9. Scrape the details of Data science recruiters Url = https://www.naukri.com/hr-recruiters-consultants 

You have to find the following details: 

A) Name

B) Designation

C)Company 

D)Skills they hire for 

E) Location

Note: - From naukri.com homepage click on the recruiters op

In [32]:
# Load URL & Navigate to required Pages

load_url(url9)

sub_val('/html/body/div[1]/div[4]/div[2]/nav/ul/li[2]/a',1)

sub_val('/html/body/div/div[4]/div[2]/div[1]/div/span',1)

send_val('Data Scientist','/html/body/div/div[4]/div[2]/div[1]/div/div/div[1]/div/div/div/input',1)

sub_val('/html/body/div/div[4]/div[2]/div[1]/div/div/div[1]/div/div/div[2]/div[1]/ul/li[1]/div', 1)

sub_val('/html/body/div/div[4]/div[2]/div[1]/div/button/span[2]', 1)

Exception Raised at sub_val
Tried again, not found

In [34]:
# Extract the element Data and store in list

comp_data = get_all_ele(0,'jobTupleHeader',0)
skill_data = get_all_ele(0, 'jobTuple',0)

# Create an Empty List
desg = []
comp_name = []
location = []
skills = []

# Extract and store data in list
for data in skill_data:
    desg.append(data.split('\n')[0])
    comp_name.append(data.split('\n')[1])
    location.append(data.split('\n')[7])
    skills.append(data.split('\n')[9:-2])
    
# Store in Dictionary & Create DataFrame

dict_nkr = {'Desgn': desg, 'Comp': comp_name, 'Location': location, 'Key Skill': skills }

nfr_DF = pd.DataFrame(dict_nkr)

nfr_DF

,Desgn,Comp,Location,Key Skill
0,Analystics & Modeling Specialist,Accenture,This role will be a part of Survey Solutions a...,"[Consulting, Machine learning, Open source, Py..."
1,Senior Data Scientist,Fractal Analytics,Required Skills: . 5+ years of work experience...,"[Supply chain, Analytical, Analytics, SQL, Tro..."
2,Senior Data Scientist,AMERICAN EXPRESS GLOBAL BUSINESS TRAVEL,"Experience . 2+ years in an analytic role, pre...","[Data Science, Deep Learning, Data, Machine, D..."
3,Machine Learning (AI) Architect,Persistent,Qualifications Skills: BE/ BTech degree in Com...,"[Intelligence, Time, Networking, Troubleshooti..."
4,Lead Data Scientist,Morningstar,Working experience of Design patterns / System...,"[Market Data, Linux, Process, Analytics, Data,..."
5,ACN - Applied Intelligence - Finance - Data Sc...,Accenture,Quantexa Certification /Quantexa Experience (M...,"[Applied Intelligence, Data processing, Analyt..."
6,Data Scientist,Tata Nexarc,Tata Business Hub is looking for a competent D...,"[Machine, Python, Science, Data mining, Machin..."
7,Data Scientist,Oprable Inc,Analytics,"[Data, Machine, SQL, Data analytics, Machine l..."
8,Director/Senior Director - Data Science,Axtria India,Familiarity with cloud technology such as AWS ...,"[Data modeling, Data Pipeline, Data quality, I..."
9,Manager/Senior Manager - Data Science,Axtria India,"Ability to build scalable models using Python,...","[Natural language processing, Data management,..."
10,Deputy Area Manager - B2C Underwriting Rural,Bajaj Finserv Ltd.,Qualifications : B-Tech / MBA Finance / Postgr...,"[Underwriting, Logistics, B2C, Management, Log..."
11,Deputy Area Manager - B2C Underwriting,Bajaj Finserv Ltd.,Build Stress Testing Framework and execute the...,"[Underwriting, Logistics, B2C, Management, Log..."
12,"Data Scientist II, Tech",Uber,"Basic Qualifications . MS, or Bachelors degree...","[Analytics, Data quality, Operations, Data, SQ..."
13,Data Scientist,ICON plc,Preferred Qualifications: . Ability to analyze...,"[Clinical trials, Office, Data, MS Office, Cli..."
14,Data Scientist,ICON plc,Preferred Qualifications: . Ability to analyze...,"[Clinical trials, Office, Public health, Healt..."
15,Data Scientist,Franklin Templeton,"Together, we will leverage data-informed insig...","[Asset Management, machine learning, Deep Lear..."
16,Lead- Data Scientist,Response Informatics,"Experience working with pre-trained models, aw...","[Analytical, Processing, Deep Learning, Linear..."
17,Sr Data Scientist / Consultant,Curemd,Python,"[Data mining, Program, SCALA, Machine learning..."
18,Data Scientist,TRH Consultancy Services,Machine,"[Python, R, Science, Tensorflow, Data Science]"
19,Data Scientist,TRH Consultancy Services,Spacy,"[Tensorflow, Pytorch, Ml, DBMS, SQL Server]"