# Assignment-1 : Web Scrapping (Beautiful Soup)

**DEVESH VERMA**

**BATCH: DS2304**

**DATE: 22/05/2023**

In [55]:
# URLs to be scrapped

url1 = 'https://en.wikipedia.org/wiki/Main_Page'

url2 = 'https://presidentofindia.nic.in/former-presidents.htm'

url3 = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi'

url3a = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

url4 = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi'

url4a = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

url5 = 'https://www.cnbc.com/world/?region=world'

url6 = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'

url7 = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'

In [56]:
# Import Libraries

from bs4 import BeautifulSoup

import requests

import pandas as pd

In [57]:
# Common Function to fetch content from page

def scrap_url(url):
    
    is_scrappable = requests.get(url)
    
    if(is_scrappable.status_code ==200):
        
        soup = BeautifulSoup(is_scrappable.text)
        print(url, ': Scrapped Successfully')
        
    else:
        print(url, ': Scrap Request Denied')
        soup = 'Scrap Request Denied'
        
        
    return soup

In [58]:
# Common Function to return list using tag name & class name

def tcl_extract(scrap_data, tag_name, class_name):
    
    res_list= []
    
    for i in scrap_data.find_all(tag_name, class_=class_name):
        
        res_list.append(i.text)
        
    return res_list

In [59]:
# Common Function to return list using tag name only

def tg_extract(scrap_data, tag_name):
    
    res_list= []
    
    for i in scrap_data.find_all(tag_name):
        
        res_list.append(i.text)
        
    return res_list

In [60]:
# Function to reyurn list of URLs case of href

def href_url(scrap_data, class_name, tag):
    
    url_lst= []

    all_lst = scrap_data.find_all(tag, href=True, class_= class_name)
    
    urls  = [a['href'] for a in all_lst]
    
    for url in urls:
        url_lst.append(url)
        
    return url_lst

In [61]:
# Function to create DATAFRAME

def get_DF(in_dict):
    
    return pd.DataFrame(in_dict)

**1) Write a python program to display all the header tags from wikipedia.org and make data frame.**

In [62]:
# Calling Function to Scrap URL1

soup1 = scrap_url(url1)

hdr_list= ['h1', 'h2','h3','h4', 'h5', 'h6']

#Extract required tag contents in list

wiki_lst = tg_extract(soup1, hdr_list)

#Convert to dataframe

wiki_DF = pd.DataFrame(columns = ['Header_Tags'], data = wiki_lst)

wiki_DF

https://en.wikipedia.org/wiki/Main_Page : Scrapped Successfully

                     Header_Tags
0                      Main Page
1           Welcome to Wikipedia
2  From today's featured article
3               Did you know ...
4                    In the news
5                    On this day
6       Today's featured picture
7       Other areas of Wikipedia
8    Wikipedia's sister projects
9            Wikipedia languages

**2) Write s python program to display list of respected former presidents of India(i.e. Name , Term ofoffice)
from https://presidentofindia.nic.in/former-presidents.htm and make data frame.**

In [63]:
# Calling Function to Scrap URL2

soup2 = scrap_url(url2)

#Extract the contents with reqd tag and class

pres_det = tcl_extract(soup2, 'div', 'presidentListing')


# Define empty list to segregate different datatypes

pres_title = []
pres_lifespan = []
pres_term = []
pres_url= []

#Splitting & Filling the various datatypes in the separate list 

for i in pres_det:
    
    pres_title.append(((i.split('\n'))[1]).split('(')[0])
    
    pres_lifespan.append((((i.split('\n'))[1]).split('(')[1]).split(')')[0])
    
    pres_term.append(((i.split('\n'))[2]).split(':')[1])
    
    pres_url.append((i.split('\n'))[3])
    
# Creating Dictionary from populated List 

pres_dict  = {'Name': pres_title, 'Life Span': pres_lifespan, 'Tenure': pres_term, 'URL': pres_url}
    
pres_DF = get_DF(pres_dict)

pres_DF

https://presidentofindia.nic.in/former-presidents.htm : Scrapped Successfully

,Name,Life Span,Tenure,URL
0,Shri Ram Nath Kovind,birth - 1945,"25 July, 2017 to 25 July, 2022",https://ramnathkovind.nic.in
1,Shri Pranab Mukherjee,1935-2020,"25 July, 2012 to 25 July, 2017",http://pranabmukherjee.nic.in
2,Smt Pratibha Devisingh Patil,birth - 1934,"25 July, 2007 to 25 July, 2012",http://pratibhapatil.nic.in
3,DR. A.P.J. Abdul Kalam,1931-2015,"25 July, 2002 to 25 July, 2007",http://abdulkalam.nic.in
4,Shri K. R. Narayanan,1920 - 2005,"25 July, 1997 to 25 July, 2002",
5,Dr Shankar Dayal Sharma,1918-1999,"25 July, 1992 to 25 July, 1997",
6,Shri R Venkataraman,1910-2009,"25 July, 1987 to 25 July, 1992",
7,Giani Zail Singh,1916-1994,"25 July, 1982 to 25 July, 1987",
8,Shri Neelam Sanjiva Reddy,1913-1996,"25 July, 1977 to 25 July, 1982",
9,Dr. Fakhruddin Ali Ahmed,1905-1977,"24 August, 1974 to 11 February, 1977",
10,Shri Varahagiri Venkata Giri,1894-1980,"3 May, 1969 to 20 July, 1969 and 24 August, 1...",
11,Dr. Zakir Husain,1897-1969,"13 May, 1967 to 3 May, 1969",
12,Dr. Sarvepalli Radhakrishnan,1888-1975,"13 May, 1962 to 13 May, 1967",
13,Dr. Rajendra Prasad,1884-1963,"26 January, 1950 to 13 May, 1962",

**3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame**

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.


**4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame**

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [64]:
# Declaring required variables

st_index = 11
end_index = 71
jump = 6

# Defining the dunction to extract desired elements from extracted list
# For 3a, 4a

def team_rank_DF(st_index, end_index, jump, in_data_list):
    
    col_list = ['Rank','Team', 'Matches','Points','Ratings']
    rank_list = range(1,11,1)
    team_list = in_data_list[st_index:end_index:jump]
    mat_list = in_data_list[st_index+1:end_index+1:jump]
    pt_list = in_data_list[st_index+2:end_index+2:jump]
    rat_list = in_data_list[st_index+3:end_index+3:jump]
    
    data_list  = [rank_list, team_list, mat_list,pt_list, rat_list]
    
    team_rank_dict = {k: v for k, v in zip(col_list, data_list)}

    return pd.DataFrame(team_rank_dict)

**3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame**

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [65]:
# Calling Function to Scrap URL3a

soup3a = scrap_url(url3a)

# Extract list having required class & tag

icc_men_team = tcl_extract(soup3a, 'table', 'table')

# Split and separate elements 

men_team_odi = split_icc_tabs(icc_men_team)

# Clean the raw data

cl_men_odi_team = clean_icc_data (men_team_odi[0])

# Remove white spaces

cl_men_odi_team.remove('')

# Generate  DataFrame for top 10 teams

team_rank_DF(st_index,end_index,jump,cl_men_odi_team)

https://www.icc-cricket.com/rankings/mens/team-rankings/odi : Scrapped Successfully

   Rank Team Matches Points Ratings
0     1  AUS      23  2,714     118
1     2  PAK      20  2,316     116
2     3  IND      33  3,807     115
3     4   NZ      27  2,806     104
4     5  ENG      24  2,426     101
5     6   SA      19  1,910     101
6     7  BAN      25  2,451      98
7     8  AFG      10    878      88
8     9   SL      21  1,682      80
9    10   WI      25  1,797      72

**3) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame**

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [66]:
# Defining Function for removing white spaces and separating the elements in the list
# For 3b, 3c & 4b, 4c

def split_icc_tabs(extr_soup_name):
    
    p_details = []
    
    for i in extr_soup_name:
        p_details.append((i.split('\n')))
        
    return p_details


# Cleaning the raw data 

def clean_icc_data (raw_list):
    
    cln_list = []
          
    for i in raw_list:
        
        if (len(i) !=0):
            words = i.split()
            cl_i = ' '.join(words)
            cln_list.append(cl_i)
            
    return cln_list

In [67]:
# Filtering list from clean data & Generating DataFrame 

def gen_df(i_lst, ig_txt_lst):
    
    p_country = []
    p_ratings = []
    p_name = []
    p_rank = []
    ignored = 1
    

    for i in i_lst:
        
        if((len(i)>2) & (i.isnumeric())):
            p_ratings.append(i)
            
        if((len(i)!=0) &(len(i)<=2) & (i.isnumeric())):
            p_rank.append(i)
           
        if(i.isupper()):
            p_country.append(i)
            
        if((i.count(' ')<=3) & (len(i)>3)):
            
            if i in ig_txt_lst:
                ignored = ignored +1
                
            else:
                p_name.append(i)
    
    
    p_dict = {'Name': p_name,'Rank': p_rank, 'Rating': p_ratings, 'Country': p_country}
    
    print(len(p_rank), len(p_ratings), len(p_country), len(p_name))
    
    gen_DF = pd.DataFrame(p_dict)
    
    
    return gen_DF

In [68]:
# Calling Function to Scrap URL3

soup3 = scrap_url(url3)

# Extracting the required data from given class and tag

icc_men_odi = tcl_extract(soup3, 'div', 'rankings-block__container')

# List to filter unwanted elements

ig_lst = ['URL Copied', 'Full Table',' ','Player','Share','ODI Batting Rankings','Team','ODI Bowling Rankings','Rating','wodi','ODI All-Rounder Rankings']

# Separate the elements and clean the list

men_odi = split_icc_tabs(icc_men_odi)

https://www.icc-cricket.com/rankings/mens/player-rankings/odi : Scrapped Successfully

In [69]:
# Cleaning the raw data 

cl_men_odi_bat = clean_icc_data (men_odi[0])

# Generating DataFrame for top 10 ODI Batsmen (men)

gen_df(cl_men_odi_bat,ig_lst)

10 10 10 10

                    Name Rank Rating Country
0             Babar Azam    1    886     PAK
1  Rassie van der Dussen    2    777      SA
2           Fakhar Zaman    3    755     PAK
3            Imam-ul-Haq    4    745     PAK
4           Shubman Gill    5    738     IND
5           David Warner    6    726     AUS
6           Harry Tector    7    722     IRE
7            Virat Kohli    8    719     IND
8        Quinton de Kock    9    718      SA
9           Rohit Sharma   10    707     IND

In [70]:
# Cleaning the raw data 

cl_men_odi_ball = clean_icc_data (men_odi[1])

# Generating DataFrame for top 10 ODI Bowlers (men)

gen_df(cl_men_odi_ball,ig_lst)

10 10 10 10

               Name Rank Rating Country
0    Josh Hazlewood    1    705     AUS
1    Mohammed Siraj    2    691     IND
2    Mitchell Starc    3    686     AUS
3        Matt Henry    4    667      NZ
4       Trent Boult    5    660      NZ
5       Rashid Khan    6    659     AFG
6        Adam Zampa    7    652     AUS
7  Mujeeb Ur Rahman    8    637     AFG
8     Mohammad Nabi    9    631     AFG
9    Shaheen Afridi   10    630     PAK

**4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame**

a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [71]:
# Calling Function to Scrap URL4a

soup4a = scrap_url(url4a)


# Extract the contents with reqd tag & class

icc_women_team = tcl_extract(soup4a, 'table', 'table')


# Split & separate elements

women_team_odi = split_icc_tabs(icc_women_team)

https://www.icc-cricket.com/rankings/womens/team-rankings/odi : Scrapped Successfully

In [72]:
# Clean the list & remove white spaces

cl_women_odi_team = clean_icc_data(women_team_odi[0])
cl_women_odi_team.remove('')

# Call function to Generate required DataFrame

team_rank_DF(st_index,end_index,jump,cl_women_odi_team)

   Rank Team Matches Points Ratings
0     1  AUS      21  3,603     172
1     2  ENG      28  3,342     119
2     3   SA      26  3,098     119
3     4  IND      27  2,820     104
4     5   NZ      25  2,553     102
5     6   WI      27  2,535      94
6     7  THA      11    821      75
7     8  BAN      14    977      70
8     9  PAK      27  1,678      62
9    10   SL       9    479      53

**4) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame**

b) Top 10 ODI Bats-women along with the records of their team and rating.

c) Top 10 ODI allrounder (Women) along with the records of their team and rating.

In [73]:
# Calling Function to Scrap URL4

soup4 = scrap_url(url4)


# Extract elemnents with required class & tags

icc_women_odi = tcl_extract(soup4, 'div', 'rankings-block__container')


# Separate and split the elements in the list

women_odi = split_icc_tabs(icc_women_odi)

https://www.icc-cricket.com/rankings/womens/player-rankings/odi : Scrapped Successfully

In [74]:
# Clean the list, remove unwanted and white spaces

cl_women_odi_bat = clean_icc_data (women_odi[0])


# Create List of elements to be removed

wig_lst = ['URL Copied', 'Full Table',' ','Player','Share','ODI Batting Rankings','ODI Bowling Rankings','Team','ODI All-Rounder Rankings','Rating','wodi']


# Generate the DataFrame

gen_df(cl_women_odi_bat,wig_lst)

10 10 10 10

                  Name Rank Rating Country
0          Beth Mooney    1    754     AUS
1      Laura Wolvaardt    2    732      SA
2       Natalie Sciver    3    731     ENG
3          Meg Lanning    4    717     AUS
4     Harmanpreet Kaur    5    716     IND
5      Smriti Mandhana    6    714     IND
6  Chamari Athapaththu    7    673      SL
7         Ellyse Perry    8    626     AUS
8       Tammy Beaumont    9    595     ENG
9      Stafanie Taylor   10    588      WI

In [75]:
# Clean the list, remove unwanted and white spaces

cl_women_odi_all = clean_icc_data (women_odi[2])


# Define the list of elements to be ignored

wig_lst1 = ['URL Copied', 'Full Table',' ','Player','Share','ODI Batting Rankings','ODI Bowler Rankings','Team','ODI All-Rounder Rankings','Rating','wodi']


# Generate the DataFrame

gen_df(cl_women_odi_all,wig_lst1)

10 10 10 10

                Name Rank Rating Country
0    Hayley Matthews    1    373      WI
1     Natalie Sciver    2    371     ENG
2       Ellyse Perry    3    366     AUS
3     Marizanne Kapp    4    349      SA
4        Amelia Kerr    5    336      NZ
5      Deepti Sharma    6    322     IND
6   Ashleigh Gardner    7    292     AUS
7      Jess Jonassen    8    250     AUS
8           Nida Dar    9    232     PAK
9  Sophie Ecclestone   10    205     ENG

**5) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and
make data frame**

**i) Headline**

**ii) Time**

**iii) News Link**

In [76]:
# Calling Function to Scrap URL6

soup5 = scrap_url(url5)


# Extracting the required datatypes with required tags & class

time_lst = tcl_extract(soup5, 'time', 'LatestNews-timestamp')

news_lst = tcl_extract(soup5,'a', 'LatestNews-headline')

nurl_lst = href_url(soup5, 'LatestNews-headline', 'a')


# Create Dictionary

news_dict = {'Headline': news_lst, 'Time': time_lst, 'URL': nurl_lst}


# Call function to generate Dataframe

latest_news_DF = get_DF(news_dict)

latest_news_DF

https://www.cnbc.com/world/?region=world : Scrapped Successfully

,Headline,Time,URL
0,Debt ceiling deal will be 'transformational' f...,49 Min Ago,https://www.cnbc.com/2023/05/28/debt-ceiling-d...
1,"NYC, Las Vegas, D.C.: Free wellness activities...",3 Hours Ago,https://www.cnbc.com/2023/05/28/nyc-las-vegas-...
2,Content creators bring in up to $150/hour film...,3 Hours Ago,https://www.cnbc.com/2023/05/28/content-creato...
3,34-year-old makes up to $167 an hour nannying ...,4 Hours Ago,https://www.cnbc.com/2023/05/28/gloria-richard...
4,This winning fund puts a spin on emerging mark...,4 Hours Ago,https://www.cnbc.com/2023/05/28/this-winning-f...
5,ASCO will put the focus on the cancer fight. T...,4 Hours Ago,https://www.cnbc.com/2023/05/28/asco-will-focu...
6,Now Boarding: Why airlines are turning to bigg...,5 Hours Ago,https://www.cnbc.com/2023/05/28/now-boarding-a...
7,"Global demand for streaming Asian movies, TV g...",5 Hours Ago,https://www.cnbc.com/2023/05/28/squid-game-eea...
8,These are the cheapest tech stocks in the S&P 500,5 Hours Ago,https://www.cnbc.com/2023/05/28/these-are-the-...
9,Turkey votes in runoff election after candidat...,13 Hours Ago,https://www.cnbc.com/2023/05/28/turkey-electio...
10,White House and Republicans reach a tentative ...,16 Hours Ago,https://www.cnbc.com/2023/05/27/white-house-an...
11,State Farm to stop accepting homeowners insura...,22 Hours Ago,https://www.cnbc.com/2023/05/27/state-farm-to-...
12,How Janie Deegan built Janie's Life-Changing B...,"May 27, 2023",https://www.cnbc.com/2023/05/27/how-janie-deeg...
13,Top 10 cheapest places in the U.S. to buy a be...,"May 27, 2023",https://www.cnbc.com/2023/05/27/cheapest-place...
14,Mark Cuban calls Elon Musk’s Twitter algorithm...,"May 27, 2023",https://www.cnbc.com/2023/05/27/mark-cuban-say...
15,3 investing tips as the federal debt ceiling '...,"May 27, 2023",https://www.cnbc.com/2023/05/27/how-to-invest-...
16,Microsoft keyboard users are ‘devastated’ afte...,"May 27, 2023",https://www.cnbc.com/2023/05/27/microsoft-keyb...
17,Steve Adcock: The 3 'stupidest' myths I've hea...,"May 27, 2023",https://www.cnbc.com/2023/05/27/steve-adcock-t...
18,Chip stocks AMD and Nvidia are among the most ...,"May 27, 2023",https://www.cnbc.com/2023/05/27/chip-stocks-am...
19,Analysts are pounding the table for these must...,"May 27, 2023",https://www.cnbc.com/2023/05/27/analysts-are-p...
20,Lower-income consumers pay for wealthy's credi...,"May 27, 2023",https://www.cnbc.com/2023/05/27/lower-income-a...
21,How Mastercard has outperformed Visa,"May 27, 2023",https://www.cnbc.com/2023/05/27/how-mastercard...
22,Why commercial real estate firms are joining t...,"May 27, 2023",https://www.cnbc.com/2023/05/27/commercial-rea...
23,Japan stocks are on fire this year. Why the ra...,"May 27, 2023",https://www.cnbc.com/2023/05/27/japan-stocks-a...
24,Marvell Technology shares surge after earnings...,"May 26, 2023",https://www.cnbc.com/2023/05/26/marvell-techno...
25,"The tech trade is back, driven by A.I. craze a...","May 26, 2023",https://www.cnbc.com/2023/05/26/tech-stocks-ar...
26,Next week hints at only short-lived debt deal ...,"May 26, 2023",https://www.cnbc.com/2023/05/26/next-week-hint...
27,Treasury says it could run out of money June 5...,"May 26, 2023",https://www.cnbc.com/2023/05/26/treasury-says-...
28,Disney rips DeSantis bid to disqualify judge i...,"May 26, 2023",https://www.cnbc.com/2023/05/26/disney-rips-de...
29,Why the pause on student loan payments has bee...,"May 26, 2023",https://www.cnbc.com/2023/05/26/the-pause-on-s...

**6) Write a python program to scrape the details of most downloaded articles from AI in last 90
days.https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Scrape below mentioned details and make data frame**

i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL**

In [77]:
# Calling Function to Scrap URL6

soup6 = scrap_url(url6)

# Extracting the required datatypes with required tags & class

p_title = tcl_extract(soup6, 'h2', 'sc-1qrq3sd-1 gRGSUS sc-1nmom32-0 sc-1nmom32-1 btcbYu goSKRg')

p_author = tcl_extract(soup6,'span', 'sc-1w3fpd7-0 dnCnAO')

p_pubdate = tcl_extract(soup6,'span', 'sc-1thf9ly-2 dvggWt')

p_url = href_url(soup6, 'sc-5smygv-0 fIXTHm', 'a')

# Creating Dictionaries

p_dict = {'Title': p_title, 'Authors': p_author, 'Publish Date': p_pubdate, 'URL': p_url}

# Call function to generate DataFrame

paper_DF = get_DF(p_dict)

paper_DF

https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles : Scrapped Successfully

,Title,Authors,Publish Date,URL
0,Reward is enough,"David Silver, Satinder Singh, Doina Precup, Ri...",October 2021,https://www.sciencedirect.com/science/article/...
1,Explanation in artificial intelligence: Insigh...,Tim Miller,February 2019,https://www.sciencedirect.com/science/article/...
2,Creativity and artificial intelligence,Margaret A. Boden,August 1998,https://www.sciencedirect.com/science/article/...
3,Conflict-based search for optimal multi-agent ...,"Guni Sharon, Roni Stern, Ariel Felner, Nathan ...",February 2015,https://www.sciencedirect.com/science/article/...
4,Knowledge graphs as tools for explainable mach...,"Ilaria Tiddi, Stefan Schlobach",January 2022,https://www.sciencedirect.com/science/article/...
5,Law and logic: A review from an argumentation ...,"Henry Prakken, Giovanni Sartor",October 2015,https://www.sciencedirect.com/science/article/...
6,Between MDPs and semi-MDPs: A framework for te...,"Richard S. Sutton, Doina Precup, Satinder Singh",August 1999,https://www.sciencedirect.com/science/article/...
7,Explaining individual predictions when feature...,"Kjersti Aas, Martin Jullum, Anders Løland",September 2021,https://www.sciencedirect.com/science/article/...
8,Multiple object tracking: A literature review,"Wenhan Luo, Junliang Xing and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
9,A survey of inverse reinforcement learning: Ch...,"Saurabh Arora, Prashant Doshi",August 2021,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"Jasper van der Waa, Elisabeth Nieuwburg, Anita...",February 2021,https://www.sciencedirect.com/science/article/...
11,Explainable AI tools for legal reasoning about...,"Joe Collenette, Katie Atkinson, Trevor Bench-C...",April 2023,https://www.sciencedirect.com/science/article/...
12,Hard choices in artificial intelligence,"Roel Dobbe, Thomas Krendl Gilbert, Yonatan Mintz",November 2021,https://www.sciencedirect.com/science/article/...
13,Assessing the communication gap between AI mod...,"Oskar Wysocki, Jessica Katharine Davies and 5 ...",March 2023,https://www.sciencedirect.com/science/article/...
14,Explaining black-box classifiers using post-ho...,"Eoin M. Kenny, Courtney Ford, Molly Quinn, Mar...",May 2021,https://www.sciencedirect.com/science/article/...
15,The Hanabi challenge: A new frontier for AI re...,"Nolan Bard, Jakob N. Foerster and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
16,Wrappers for feature subset selection,"Ron Kohavi, George H. John",December 1997,https://www.sciencedirect.com/science/article/...
17,Artificial cognition for social human–robot in...,"Séverin Lemaignan, Mathieu Warnier and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Tomáš Kliegr, Štěpán Bahník, Johannes Fürnkranz",June 2021,https://www.sciencedirect.com/science/article/...
19,The multifaceted impact of Ada Lovelace in the...,Luigia Carlucci Aiello,June 2016,https://www.sciencedirect.com/science/article/...
20,Robot ethics: Mapping the issues for a mechani...,"Patrick Lin, Keith Abney, George Bekey",April 2011,https://www.sciencedirect.com/science/article/...
21,Reward (Mis)design for autonomous driving,"W. Bradley Knox, Alessandro Allievi and 3 more",March 2023,https://www.sciencedirect.com/science/article/...
22,Planning and acting in partially observable st...,"Leslie Pack Kaelbling, Michael L. Littman, Ant...",May 1998,https://www.sciencedirect.com/science/article/...
23,What do we want from Explainable Artificial In...,"Markus Langer, Daniel Oster and 6 more",July 2021,https://www.sciencedirect.com/science/article/...

**7) Write a python program to scrape mentioned details from dineout.co.in and make data frame**

i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

In [78]:
# Calling Function to Scrap URL7

soup7 = scrap_url(url7)

# Extracting the required datatypes with required tags & class

do_name = tcl_extract(soup7, 'a', 'restnt-name ellipsis')

do_loc = tcl_extract(soup7,'div', 'restnt-loc ellipsis')

do_rate = tcl_extract(soup7,'div', 'restnt-rating rating-4')

do_url = href_url(soup7, 'restnt-name ellipsis', 'a')

do_specs = tcl_extract(soup7,'span', 'double-line-ellipsis')

do_cuis = []

# Split using separator

for i in do_specs:
    
    do_cuis.append((i.split('|'))[-1])

# Create Dictionary

dine_del_dict = {'Restaurant': do_name, 'Cuisine': do_cuis, 'Location': do_loc, 'Ratings': do_rate, 'URL': do_url}

# Generate DataFrame

del_dine_DF = get_DF(dine_del_dict)

del_dine_DF

https://www.dineout.co.in/delhi-restaurants/buffet-special : Scrapped Successfully

,Restaurant,Cuisine,Location,Ratings,URL
0,Castle Barbeque,"Chinese, North Indian","Connaught Place, Central Delhi",4,/delhi/castle-barbeque-connaught-place-central...
1,Jungle Jamboree,"North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,/delhi/jungle-jamboree-lajpat-nagar-3-south-de...
2,Cafe Knosh,"Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,/delhi/cafe-knosh-shahdara-east-delhi-406
3,Castle's Barbeque,"Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,/delhi/castles-barbeque-tagore-garden-west-del...
4,The Barbeque Company,"North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",3.9,/delhi/the-barbeque-company-sector-38a-noida-7...
5,India Grill,"North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,/delhi/india-grill-saket-south-delhi-2687
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,/delhi/delhi-barbeque-mahipalpur-south-delhi-5...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,/delhi/the-monarch-bar-be-que-village-indirapu...
8,Indian Grill Room,"North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,/delhi/indian-grill-room-golf-course-road-gurg...